
input:-ms-input-placeholder{letter-spacing:16px;}
input::-webkit-input-placeholder{letter-spacing:1px;}
input:-moz-placeholder{letter-spacing:16px;}	

* body {
	margin: 0;
	padding: 0;
	display: flex;
	background-color: #ADD8E6;
}

p {
	font-size: 15px;
	font-family: arial;
	text-align: left;
	margin-top: 10px;
}

.imagem-um {
	padding-top: 60px;
	margin-left: 160px;
	text-align: left;
	display: flex;
}
label {
	display: block;
	float: left;
}

label, input {
	width:378px;
	margin: 2px 0;
	margin-top: 5px;
	font-size: 19px;
	font-family: arial;

}

input {
	width: 400px
	}

fieldset {
	font-size: 25px;
	font-family: arial;
	width:400px;

}

legend {
	text-align: center;
}

.formulario {
	padding-top: 160px;
}

.enviar {
	margin: 3px 180px;
}


/* Vamos organizar a questão do CSS da caixinha */

.nome {
	font-family: sans-serif;
	font-size: 20px;
}

.email {
	font-family: sans-serif;
	font-size: 20px;
}
.texto {
	font-family: sans-serif;
	font-size: 20px;
}

.pergunta {
	font-family: sans-serif;
	font-size: 20px;
}
