* body {
	margin: 0;
	padding: 0;
	display: flex;
	background-color: #ADD8E6;
}

p {
	font-size: 15px;
	font-family: arial;
	text-align: left;
	margin-top: 10px;
}

.imagem-um {
	padding-top: 60px;
	margin-left: 160px;
	text-align: left;
	display: flex;
}
label {
	display: block;
	float: left;
}

label, input {
	width:278px;
	margin: 2px 0;

}

input {
	width: 400px
	}

fieldset {

	width:400px;

}

legend {
	text-align: center;
}

.formulario {
	padding-top: 160px;
}

.enviar {
	margin: 3px 180px;
}